.view-Campaign {
  padding: 7rem var(--padding-clamp) 1rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;

  .icon {
    color: var(--accent-color-dark);
  }

  .campaign-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;

    > :nth-child(1) {
      width: 50%;
      min-width: 300px;
      max-width: 700px;
      min-height: 10rem;
      flex-grow: 1;

      > img {
        width: 100%;
        border-radius: 1rem;
        background-color: var(--trans-more-black);
      }

      > label {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--trans-more-black);
        border-radius: 1rem;
        color: var(--black);
        font-weight: bold;

        > p {
          text-align: center;
        }
      }
    }

    > :nth-child(2) {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      width: 45%;
      flex-grow: 1;
      max-width: 700px;

      > h1 {
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }

      .campaign-details-b1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        color: var(--trans-black);
      }

      > p {
        font-size: 1.2rem;
        color: var(--trans-black);
      }

      .share {
        display: flex;
        align-items: center;

        > span {
          color: var(--accent-color-dark);
          font-weight: bold;
        }

        > div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      .donate {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        gap: 1rem;

        > * {
          flex-grow: 1;
        }

        > input {
          border: 1px solid var(--trans-black);
          padding: 0.5rem;
          border-radius: 1rem;
          width: 8rem;
          font-weight: bold;

          &::placeholder {
            font-size: 0.8rem;
            font-weight: 300;
          }
        }

        > select {
          border-radius: 0.5rem;
          padding: 0.5rem 0;
          font-size: 0.6rem;
          font-weight: bold;
          height: 2.5rem;
          min-width: 2rem;
        }

        > button {
          font-weight: bold;
          background-color: var(--accent-color-dark);
          color: var(--white);
          padding: 0.5rem;
          border-radius: 1rem;
          box-shadow: 0 0.3rem 0.5rem var(--trans-black);

          &:hover {
            background-color: var(--black);
          }
        }
      }

      .paymentOptions {
        margin-top: 0.5rem;
        display: flex;
        flex-flow: column;
        gap: 0.5rem;

        > input {
          border: 1px solid var(--trans-black);
          padding: 0.5rem;
          border-radius: 1rem;
          font-weight: 600;

          &::placeholder {
            font-size: 0.8rem;
            font-weight: 300;
          }
        }

        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
          width: 100%;

          > label {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            font-weight: bold;

            > input {
              height: 2rem;
              width: 1.3rem;
              accent-color: var(--accent-color-dark);
            }

            &:hover {
              color: var(--accent-color-dark);
            }
          }

          > button {
            width: 70%;
            min-width: fit-content;
            font-weight: bold;
            background-color: var(--accent-color-dark);
            color: var(--white);
            padding: 0.5rem;
            border-radius: 1rem;
            box-shadow: 0 0.3rem 0.5rem var(--trans-black);
            display: flex;
            justify-content: center;

            &:hover {
              background-color: var(--black);
            }
          }
        }
      }
    }
  }

  .safe-checkout,
  .admin-vet,
  .creator-div,
  .donors-div,
  .feedback,
  .others,
  .delete {
    border-top: 1px solid var(--accent-color-dark);
    border-bottom: 1px solid var(--accent-color-dark);
    padding: 1rem 0;

    > h3 {
      font-weight: 500;
    }
  }
  .safe-checkout {
    object-fit: contain;
    height: 6rem;
  }

  .admin-vet {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .creator-div {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    > h3 {
      font-weight: 500;
    }

    > :nth-child(2) {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      > :nth-child(1) {
        background-color: var(--trans-more-black);
        border-radius: 50%;
        padding: 0.5rem;
      }
      > :nth-child(2) {
        color: var(--trans-black);
      }
    }
  }

  .donors-div {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    > ul {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem 1rem;

      > li {
        background-color: rgba(0, 0, 0, 0.1);
        flex-grow: 1;
        max-width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        box-shadow: 0 0.3rem 0.5rem var(--trans-black);
        padding: 0.3rem;
        border-radius: 1rem;

        > :nth-child(1) {
          background-color: var(--trans-more-black);
          border-radius: 50%;
          padding: 0.3rem;
        }

        > :nth-child(2) {
          > :nth-child(1) {
            color: var(--black);
          }
          > :nth-child(2) {
            color: var(--accent-color-dark);
            font-weight: bold;
          }
        }
      }
    }
  }

  .feedback {
    display: flex;
    justify-content: center;
    gap: 2vw;

    > * {
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-weight: bold;
      font-size: 0.8rem;
      color: var(--white);
      display: flex;
      align-items: center;

      &:hover {
        transform: scale(0.9);
      }
    }

    > :nth-child(1) {
      background-color: red;
    }
  }

  .others {
    display: flex;
    flex-flow: column;
    gap: 2rem;

    .embla {
      overflow: hidden;
      padding: 0.5rem 1rem;
    }
    .embla__container {
      display: flex;
      gap: 2rem;
    }
    .fundRaise-li {
      flex: 0 0 100%;
      min-width: 0;
    }
  }

  .delete {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    > button {
      min-width: 10rem;
      padding: 0.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      border-radius: 1rem;
      font-size: 1.2rem;

      &:hover {
        transform: scale(1.05);
      }
    }

    .deleteBtn {
      background-color: red;
      color: var(--white);
    }

    .cashOutBtn {
      background-color: var(--accent-color-dark);
      color: var(--white);
    }
  }
}

.cash-out-message {
  min-height: 70vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  > * {
    text-align: center;
  }

  > h1 {
    font-size: 1.5rem;
    color: var(--accent-color-dark);
  }

  > a {
    background-color: var(--black);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--white);

    &:hover {
      transform: scale(1.05);
      background-color: var(--accent-color-dark);
    }
  }
}
