.view-Campaign {
  padding: 7rem var(--padding-clamp) 1rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;

  .icon {
    color: var(--accent-color-dark);
  }

  .campaign-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;

    > img {
      width: 50%;
      min-width: 300px;
      max-width: 700px;
      flex-grow: 1;
      border-radius: 1rem;
    }

    > :nth-child(2) {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      width: 45%;
      flex-grow: 1;
      max-width: 700px;

      > h1 {
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }

      .campaign-details-b1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        color: var(--trans-black);
      }

      > p {
        font-size: 1.2rem;
        color: var(--trans-black);
      }

      .share {
        display: flex;
        align-items: center;

        > span {
          color: var(--accent-color-dark);
          font-weight: bold;
        }

        > div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      .donate {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        gap: 1rem;

        > * {
          flex-grow: 1;
        }

        > input {
          border: 1px solid var(--trans-black);
          padding: 0.5rem;
          border-radius: 1rem;
          width: 8rem;
          font-weight: bold;

          &::placeholder {
            font-size: 0.8rem;
            font-weight: 300;
          }
        }

        > select {
          border-radius: 0.5rem;
          padding: 0.5rem 0;
          font-size: 0.6rem;
          font-weight: bold;

          option {
            font-weight: 400;
            font-size: 0.8rem;
          }
        }

        > button {
          font-weight: bold;
          background-color: var(--accent-color-dark);
          color: var(--white);
          padding: 0.5rem;
          border-radius: 1rem;
          box-shadow: 0 0.3rem 0.5rem var(--trans-black);

          &:hover {
            background-color: var(--black);
          }
        }
      }

      .paymentOptions {
        margin-top: 1rem;
        display: flex;
        flex-flow: column;
        gap: 0.5rem;

        > input {
          border: 1px solid var(--trans-black);
          padding: 0.5rem;
          border-radius: 1rem;
          font-weight: 600;

          &::placeholder {
            font-size: 0.8rem;
            font-weight: 300;
          }
        }

        > ul {
          display: flex;
          align-items: center;
          flex-flow: row wrap;
          gap: 1rem;

          > li {
            box-shadow: 0 0.3rem 0.5rem var(--trans-more-black);
            border-radius: 1rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
              transform: scale(1.03);
            }
          }
        }
      }
    }
  }

  .safe-checkout,
  .admin-vet,
  .creator-div,
  .donors-div,
  .feedback {
    border-top: 1px solid var(--accent-color-dark);
    border-bottom: 1px solid var(--accent-color-dark);
    padding: 1rem 0;
  }
  .safe-checkout {
    width: 100%;
    object-fit: contain;
  }

  .admin-vet {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .creator-div {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    > h3 {
      font-weight: 500;
    }

    > :nth-child(2) {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      > :nth-child(1) {
        background-color: var(--trans-more-black);
        border-radius: 50%;
        padding: 0.5rem;
      }
      > :nth-child(2) {
        color: var(--trans-black);
      }
    }
  }

  .donors-div {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    > h3 {
      font-weight: 500;
    }

    > ul {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem 1rem;

      > li {
        flex-grow: 1;
        max-width: 10rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        box-shadow: 0 0.3rem 0.5rem var(--trans-more-black);
        padding: 0.3rem;
        border-radius: 1rem;

        > :nth-child(1) {
          background-color: var(--trans-more-black);
          border-radius: 50%;
          padding: 0.3rem;
        }

        > :nth-child(2) {
          > :nth-child(1) {
            color: var(--black);
          }
          > :nth-child(2) {
            color: var(--accent-color-dark);
            font-weight: bold;
          }
        }
      }
    }
  }

  .feedback {
    display: flex;
    justify-content: center;
    gap: 2vw;

    > * {
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-weight: bold;
      font-size: 0.8rem;
      color: var(--white);
      display: flex;
      align-items: center;

      &:hover {
        transform: scale(0.9);
      }
    }

    > :nth-child(1) {
      background-color: var(--accent-color-dark);
    }
    > :nth-child(2) {
      background-color: red;
    }
  }
}
