.about {
  > :nth-child(2) {
    padding: 2rem var(--padding-clamp) 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }

  .about-intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 0.5rem;

    > h1 {
      font-size: clamp(1.2rem, 2vw, 2rem);
      max-width: 70%;
    }
    > a {
      background-color: var(--accent-color);
      color: var(--black);
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 1.1rem;
      width: fit-content;
      height: fit-content;

      &:hover {
        color: var(--white);
        background-color: var(--accent-color-dark);
        box-shadow: 0.1rem 0.3rem 0.5rem var(--trans-black);
      }
    }
  }

  .about-paragraphs {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    color: var(--trans-black);
    font-weight: 600;
    font-size: 0.95rem;
  }

  .about-one {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 2rem;

    > :nth-child(1) {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;

      > h2 {
        font-size: 1.5rem;
      }

      > p {
        color: var(--trans-black);
        font-size: 1rem;
      }
    }

    > ul {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1rem;
    }

    /* helping hands point li */
    .points-Li {
      width: 20rem;
      height: 17rem !important;
      box-shadow: 1px 2px 0.5rem var(--trans-black);
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      flex-flow: column;
      gap: 1rem;
      padding: 1rem;

      > :nth-child(1) {
        color: var(--accent-color-dark);
      }

      > h4 {
        font-size: 1.2rem;
      }

      > p {
        color: var(--trans-black);
        font-weight: 0.9rem;
      }
    }
  }

  .how-it-works {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 100%;

    > h2 {
      font-size: 1.5rem;
    }

    > ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: row wrap;
      gap: 3vw;

      > li {
        display: flex;
        align-items: center;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
      }
    }
  }

  .help-others {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 100%;

    > h2 {
      font-size: 1.5rem;
    }

    > ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: row wrap;
      gap: 3vw;

      > li {
        border-radius: 1rem;

        > a {
          background-color: var(--accent-color);
          padding: 0.5rem 1rem;
          color: var(--black);
          border-radius: 1rem;
          font-weight: 700;
          font-size: clamp(0.9rem, 1.5vw, 1.1rem);

          &:hover {
            background-color: var(--accent-color-dark);
            color: var(--white);
          }
        }
      }
    }
  }
}
