.dashboard {
  padding: 20vh var(--padding-clamp) 2rem;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 2rem;

  .dashboard-greet {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > :nth-child(1) {
      display: flex;
      flex-flow: column;
      gap: 0.2rem;

      > :nth-child(1) {
        font-size: clamp(0.9rem, 2vw, 1.1rem);
        text-transform: uppercase;
      }
      > :nth-child(2) {
        font-size: clamp(1rem, 3vw, 2rem);
      }
    }

    > a {
      background-color: var(--accent-color);
      padding: 0.5rem;
      font-size: clamp(0.7rem, 2vw, 1rem);
      color: var(--black);
      font-weight: bold;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.2rem;

      > span {
        font-size: 0.9rem;
      }

      &:hover {
        background-color: var(--accent-color-dark);
        color: var(--white);
      }
    }
  }

  /* campaigns ul */
  .campaigns-ul {
    display: flex;
    flex-flow: column;
    gap: 2rem;

    > h3 {
      font-size: clamp(1rem, 2vw, 1.3rem);
    }

    > ul {
      width: 100%;
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}

/* verify box */
.verify {
  /* Glass */
  background: rgba(247, 248, 247, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(247, 248, 247, 0.67);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 500px;
  padding: 1rem var(--padding-clamp);
  color: var(--black);
  display: flex;
  flex-flow: column;
  gap: 1rem;

  > :nth-child(1) {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;

    > * {
      text-align: center;
    }
  }

  > form {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;

    .otp-input {
      input {
        height: 7vh;
        min-height: 3rem;
        width: 7vw !important;
        max-width: 2.5rem;
        font-weight: bold;
        background-color: var(--black);
        color: var(--white);
      }
    }

    > button {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-weight: bold;
      font-size: 1.2rem;
      background-color: var(--black);
      color: var(--white);
      display: flex;
      justify-content: center;
    }
  }
}

/* switch buttons */
.switch-buttons {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  > button {
    padding: 0.5rem;
    background-color: var(--accent-color);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    transition: 0.5s ease-in-out;
  }
  .activeBtn {
    background-color: var(--accent-color-dark);
    color: var(--white);
    box-shadow: 0 0.3rem 0.5rem var(--trans-black);
    font-weight: bold;
  }
}
