.embla-slider {
  overflow: hidden;

  .embla__container {
    display: flex;
    gap: 2rem;

    > li {
      flex: 0 0 100%;
      min-width: 0;

      > img {
        background-color: var(--trans-black);
      }
    }
  }
}
