@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font-family-one: "Jost", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  font-family: var(--font-family-one);

  /* background smooth transition */
  transition: background 0.3s ease-in-out;
}

:root {
  --background-color: white;
  --black: black;
  --white: white;
  --trans-black: rgba(0, 0, 0, 0.5);
  --trans-more-black: rgba(0, 0, 0, 0.2);
  --trans-white: rgba(255, 255, 255, 0.5);
  --trans-more-white: rgba(255, 255, 255, 0.2);

  /* accent colors */
  --accent-color: rgb(188, 255, 107);
  --accent-color-dark: rgb(103, 141, 57);

  /* variables */
  --padding-clamp: clamp(3%, 15% - 81px, 10%);
}

body {
  background-color: var(--accent-color);
}
/* general styles */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
input,
textarea {
  border: none;
  outline: none;
}
select {
  outline: none;
}
button {
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
/* loader container */
.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* progress bar */
.progressBar {
  width: 100%;
  height: 1rem !important;

  > div {
    height: 100% !important;

    > div {
      height: 100% !important;
      background-color: var(--accent-color-dark) !important;

      justify-content: center !important;
      align-items: center !important;
    }
  }

  span {
    color: var(--white) !important;
    font-size: clamp(0.7rem, 1vw, 1rem) !important;
  }
}

.App {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--background-color);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  > * {
    width: 100%;
  }
}

/* Fix zoom bug on clicking input on mobile devices */
@media screen and (max-width: 767px) {
  input,
  textarea {
    font-size: 16px !important;
  }
}

/* REMOVE INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Add style for textarea */
textarea {
  resize: none;
  height: fit-content;
  min-height: 20vh;
}
