.inventory {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;

  > li {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0.2rem 0.5rem 1rem var(--trans-black);

    > * {
      text-align: center;
    }

    > h4 {
      font-size: 0.9rem;
    }

    > h5 {
      font-size: 3rem;
      color: var(--accent-color-dark);
    }
  }
}

.users {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;

  > li {
    width: 30%;
    min-width: 15rem;
    flex-grow: 1;
    box-shadow: 0 0.3rem 0.5rem var(--trans-black);
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.withdrawals {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  width: 100%;

  .withdrawals-ul {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: space-around;
    width: 100%;

    > li {
      width: 30%;
      min-width: 15rem;
      flex-grow: 1;
      box-shadow: 0 0.3rem 0.5rem var(--trans-black);
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      flex-flow: column;
      gap: 0.5rem;

      > button {
        background-color: var(--accent-color-dark);
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;

        &:hover {
          background-color: var(--black);
          color: var(--white);
        }
      }
    }
  }
}
