.fundsRequestPayment {
  padding: 7rem var(--padding-clamp) 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;

  > h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
  }

  .fundsRequestPayment-details {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4rem;

    .reqAmount {
      border-radius: 50%;
      height: 10rem;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 3rem;
      background-color: var(--accent-color-dark);
      color: var(--white);
      box-shadow: 0 0.3rem 0.5rem var(--trans-black);
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    .paid {
      background-color: var(--trans-black);
    }

    .reqPay {
      display: flex;
      flex-flow: column;
      gap: 2rem;

      > select,
      > input {
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        background-color: var(--white);
        color: var(--black);
        border: none;
        outline: none;
        box-shadow: 0 0.3rem 0.5rem var(--trans-black);
        transition: 0.3s ease-in-out;
      }

      > button {
        background-color: var(--accent-color);
        color: var(--black);
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: bold;
        box-shadow: 0 0.3rem 0.5rem var(--trans-black);
        transition: 0.3s ease-in-out;
        border-radius: 1rem;
        display: flex;
        justify-content: center;

        &:hover {
          background-color: var(--accent-color-dark);
          color: var(--white);
        }
      }
    }
  }
}
